.paper {
  max-width: 600px;
}
.MuiPaper-root.MuiPaper-elevation2 {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 230px 90px 50px repeat(2, 50px) auto;
  grid-template-areas:
    "c c c c c c c c"
    ". . . p p . . ."
    ". . i i i i . ."
    ". . . . . . . ."
    ". a a a a a a ."
    ". a a a a a a .";
}
.cover {
  width: 100%;
  height: 230px;
  overflow: hidden;
  grid-area: c;
}
.info {
  grid-area: i;
  text-align: center;
}
.about-me {
  grid-area: a;
  padding-bottom: 20px;
}
.profile-picture {
  grid-area: p;
  position: relative;
  bottom: 70%;
}
